/* Variables */
:root {
  --background-accent: #14171f; !important; /* self explanatory (hopefully) */
  --background-primary: #181c25 !important; /* colour of right hand side of screen and chat */
  --background-secondary: #14171f !important; /* embed backround/text channel list/member list colour */
  --background-secondary-alt: #0c0e13 !important; /* colour of change status/mute mic/deafen/user settings patch */
  --background-floating: #0c0e13 !important; /* colour of panel when you click on server name/edit message */
  --background-tertiary: #0c0e13 !important; /* colour of border around [top of] discord */

  /* colours of things when you hover over them; e.g. a channel/user */
  --background-modifier-hover: rgba(255, 255, 255, 0.01) !important;
  --background-modifier-active: rgba(255, 255, 255, 0.03) !important;
  --background-modifier-selected: rgba(255, 255, 255, 0.04) !important;

  --channeltextarea-background: var(--background-accent) !important; /* colour of text box that you type in */

  --text-link: #81D8D0; /* colour of links (including in embeds) */
  --text-normal: #fbfbfb !important; /* colour of text in messages and "DISCORD" in top left hand corner */
  --text-muted: #b6b6b6 !important; /* colour for channel icon + "Message #channel/user" + "Today at ..." by message */

  --channels-default: #9f9f9f !important; /* colour of channel name's text */

  --message-hover: #15181e !important; /* colour of message when hovering over it */
  --search-menu-colour: #0c0e13 !important; /* colour of search bar */
  --spoiler-colour: #00000d; /* colour of spoilered text */

  --interactive-normal: #c8c8c8 !important; /* colour of interactive buttons when looked at e.g. pinned messages */
  --interactive-hover: #ff1493 !important; /* colour of interactive buttons when hovered over (and channel names) */
  --interactive-active: #fff !important; /* colour of things that are active e.g. colour of channel name you're talking in */
  --interactive-muted: #30343d !important; /* colour of muted channel names */

  --header-secondary: #c9c9c9 !important; /* colour of text in codeblock, text in channel topic when looked at not opened */

  /* i dont know what any of the following do but i suppose its important yo */
  --toast-background: var(--background-primary) !important;
  --toast-header: var(--background-tertiary) !important;
  --toast-contents: var(--background-secondary) !important;
  --toast-border: var(--background-tertiary) !important;
  --toast-box-shadow: rgba(0, 0, 0, .2) !important;
  --offline-color: #3c3c3c !important;
}


/* Colour of boxes of any popup e.g. delete/pin message (thanks LuckFire!) */
  .theme-dark .message-2qRu38 { background-color: #ff1493 !important; } /* part where message is embedded */
  .theme-dark .root-1gCeng { background-color: var(--background-primary) !important; } /* embedded part */
  .theme-dark .footer-2gL1pp { background-color: var(--background-secondary) !important; } /* footer */


/* Blurred notes on a user (when clicked in member list and on profile) */
  .note-QfFU8y textarea { filter: blur(5px); transition: .2s cubic-bezier(.2, .11, 0, 1); }
  .note-QfFU8y textarea:focus, .note-QfFU8y textarea:hover { filter: none; transition: .2s cubic-bezier(.2, .11, 0, 1); }

  .note-3HfJZ5 textarea { filter: blur(5px); transition: .2s cubic-bezier(.2, .11, 0, 1); }
  .note-3HfJZ5 textarea:focus, .note-3HfJZ5 textarea:hover { filter: none; transition: .2s cubic-bezier(.2, .11, 0, 1); }


/* Discord icon colour in top left hand corner */
.homeIcon-tEMBK1 { color: var(--text-link); }


/* Tiffany blue Discord join/explore buttons */
  .circleIconButton-jET_ig svg path{ fill: var(--text-link); }
  .circleIconButton-jET_ig.selected-ugP_am { background-color: var(--text-link); }
  .circleIconButton-jET_ig.selected-ugP_am svg path{ fill: white; }


/* Friend list, block list, etc */
.peopleColumn-29fq28 { background-color: var(--background-accent); }


/* Make the embed border "wrap around" the embed a bit more */
.embed-IeVjo6 { border-radius: 5.5px; }


/* Mention suggestions when typing @something */
  .autocompleteInner-zh20B_ { background-color: var(--background-tertiary) !important; }
  .selectorSelected-1_M1WV { background-color: var(--background-floating) !important; }


/* Message hovering */
div.message-2qnXI6:hover { background-color: var(--message-hover) !important; }


/* Make pinned messages wider */
.messagesPopoutWrap-1MQ1bW { width: 550px; }


/* Profile when clicked in member list */
  /* footer colour */
  .flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyCenter-3D2jYp.alignCenter-1dQNNs.noWrap-3jynv6.headerTop-3C2Zn0 {
    background-color: var(--background-tertiary) !important;
  }

  .body-3iLsc4 { background-color: var(--background-secondary-alt) !important; } /* role box background colour */
  .footer-1fjuF6 { background-color: var(--background-secondary-alt) !important; } /* footer ie where message user is embedded */

  .quickMessage-2XpSaN.quickMessage-1yeL4E { background-color: var(--background-tertiary) !important; } /* Message user box */
  .activityUserPopout-2yItg2.activity-11LB_k { background-color: var(--background-tertiary) !important; } /* Playing box */


/* Better Playing Modals, again from Luckfire */
  .headerPlaying-j0WQBV, .topSectionPlaying-1J5E4n { background-color: var(--background-accent); } /* normal */
  .headerSpotify-zpWxgT, .topSectionSpotify-1lI0-P { background-color: var(--background-accent); } /* spotify */
  .headerStreaming-2FjmGz, .topSectionStreaming-1Tpf5X { background-color: var(--background-accent); } /* streaming */


/* Reaction boxes */
  .reactors-Blmlhw.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 { background-color: var(--background-primary) !important; } /* main box */
  .scroller-1-nKid.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 { background-color: var(--background-primary) !important; } /* colour of scroller */


/* Search bar colour */
.searchBar-3dMhjb { background-color: var(--search-menu-colour) !important; }


/* Sets background colour for when you click on Server Boost */
.perksModalContentWrapper-2HU6uL { background: var(--background-accent) !important; }


/* Spoilers */
  .spoilerWarning-2aAZq1, .spoilerText-3p6IlD.hidden-HHr2R9 { background-color: var(--spoiler-colour) !important; } /* box */
  .spoilerText-3p6IlD.hidden-HHr2R9:hover .inlineContent-3ZjPuv { opacity: 1; border-radius: 3px; } /* reveal on hover */


/* Inline status selection */
  .status-1fhblQ, .description-2L932D { display: none; }
  .separator-2I32lJ { display: none; }

  .mask-1qbNWk.icon-1IxfJ2 {
    --status-icon-size: 75%;
    height: var(--status-icon-size); 
    width: var(--status-icon-size);
    margin-left: 33%;
  }

  .animatorTop-2Y7x2r.scale-3iLZhb.didRender-33z1u8 >
  .menu-3sdvDG.styleFixed-sX-yHV > .scroller-3BxosC.thin-1ybCId.scrollerBase-289Jih {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto auto;
    visibility: visible;
  }

  .item-1tOPte.colorDefault-2K3EoJ:nth-of-type(7) { grid-column: 1/5; }
  .animatorTop-2Y7x2r.scale-3iLZhb.didRender-33z1u8 { transition: opacity 0.15s linear 0s; }
  .customText-tY5LJn { font-size: 15px; }


/* Message search menu and quickswitcher; code yoinked from the amazing LuckFire! */
  .searchFilter-2ESiM3, .searchAnswer-3Dz2-q { background-color: var(--background-secondary-alt) !important; }

  #search-results > .focused-2bY0OD { background-color: var(--background-secondary) !important; }
  #search-results {
    background-color: var(--background-secondary) !important;
    box-shadow: 0 0 0 1px var(--background-tertiary), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  }

  .option-96V44q.selected-rZcOL- { background-color: var(--background-modifier-hover) !important; }
  .option-96V44q::after { background: transparent !important; }
  .option-96V44q.selected-rZcOL-::before { background: var(--background-secondary-alt) !important; padding-left: 10px; }

  .react-datepicker, .react-datepicker__header { background-color: var(--background-secondary) !important; }

  .react-datepicker__day:not(:hover):not(.react-datepicker__day--disabled):not(.react-datepicker__day--outside-month) {
    background-color: var(--background-secondary-alt) !important;
  }
  .react-datepicker__day { border-color: var(--background-tertiary) !important; }
  .react-datepicker__day--disabled,
  .react-datepicker__day--outside-month { background-color: var(--background-primary) !important; }


/* Sticker blocking */
  .wrapper-2a6GCs .assetWrapper-3GNt0z[style] { height: auto !important; width: auto !important; }
  .wrapper-2a6GCs .assetWrapper-3GNt0z[style]:active { height: 160px !important; width: 160px !important; }

  .wrapper-2a6GCs .assetWrapper-3GNt0z[style]:after { content: '1 blocked sticker - Show Sticker'; color: var(--text-link); }
  .wrapper-2a6GCs .assetWrapper-3GNt0z[style]:active:after { content: none; }
  .wrapper-2a6GCs .assetWrapper-3GNt0z[style]:hover:after { text-decoration: underline; }

  .wrapper-2a6GCs .assetWrapper-3GNt0z[style] .lottieCanvas-1W7L-f,
  .wrapper-2a6GCs .assetWrapper-3GNt0z[style] .pngImage-33yLRP { display: none; }

  .wrapper-2a6GCs .assetWrapper-3GNt0z[style]:active .lottieCanvas-1W7L-f,
  .wrapper-2a6GCs .assetWrapper-3GNt0z[style]:active .pngImage-33yLRP { display:block; }


/* Tweak Create Text Channel colours */
  /* changes colour of main box */
  .modal-2VIBV8.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y { background-color: var(--background-primary); }
  .modal-2VIBV8.root-1gCeng > .footer-2gL1pp { background-color: var(--background-secondary-alt); } /* footer */


/* Upload popup */
  .uploadModal-2ifh8j { background-color: var(--background-primary) !important; } /* colour of upper portion */
  .footer-3mqk7D { background-color: var(--background-secondary-alt) !important; } /* colour of lower portion */ 