// Button
.childWrapper-anI2G9 svg path {
  fill: var(--midnightcord-blurple-replace);
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9 {
  background-color: var(--midnightcord-blurple-replace);

  svg path {
    fill: var(--text-normal);
  }
}